.blogContainer{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem 2rem 2rem 4rem;
    width: 60%;
}
.blogContainer>h1{
    font-size: 2rem;
}
.blogContainer>p{
    font-size: .8rem;
}
.DeleteWarning{
    position: fixed;
    padding: 4rem;
    width: 100vw;
    height: 100vh;
    bottom:0;
    left: 0;
    background-color:rgba(0,0,0,0.8);
    color: rgb(103, 30, 30);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    font-size: 1.5rem;
}
.DeleteWarning>p{
    padding: 2rem;
    background-color: #fff;
}
.DeleteWarning>button{
    padding: 1rem;
    width: 8rem;
    background-color: #fff;
}
.editAuth{
    position: fixed;
    padding: 4rem;
    width: 100vw;
    height: 100vh;
    bottom:0;
    left: 0;
    /* background-color:rgba(0,0,0,0.8); */
    background-color: rgba(99, 57, 110, .8);
    color: rgb(4, 4, 4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    font-size: 1.5rem;
}
.editAuth>div>button:nth-child(1){
    position: absolute;
    right: 2rem;
    top:1rem;
    /* color:#fff; */
    padding: .3rem;
    background-color:  rgb(252, 250, 252);
}
.editAuth>div{
    background-color: rgb(236, 234, 237);
    /* background-color:rgba(0,0,0,0.8); */
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap:1rem;
}
input{
    /* background-color: rgb(199, 196, 196); */
    background-color:  rgb(177, 173, 177);
    border:2px solid black;
}
/* input:focus{
    background-color: rgb(148, 145, 145);
    border:2px solid black;
} */
.updateWholeBtn{
    padding: 1rem;
    background-color: rgb(169, 168, 167);
}