.newBlogForm{
    padding: 4rem 0rem;
    margin:2rem 0rem;
    background-color: var(--primary-color);
}
.new-form-group>input{

    width:50%;
    word-break: break-word;
}
#Blogcategory>{
    margin-top: 1rem 0;
}
.form-group>button{
margin:3rem 0 1rem 0;
}
@media only screen and (max-width: 600px) {
    .newBlogForm{
        padding: 2rem 0rem;
        margin:1rem 0rem;
        background-color: var(--primary-color);
    }
    .new-form-group>input{
        width:90%;
        word-break: break-word;
    }
}