.app{
    font-family: 'Poppins', sans-serif;
}
footer, #fontsninja-text-30{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: .8rem 0; 
    line-height: 1.8rem;
    font-weight: 400;

}
@media only screen and (max-width: 900px) {
    footer, #fontsninja-text-30{
        font-family: 'Poppins', sans-serif;
        text-align: center;
        padding: .8rem 0; 
        line-height: 1.8rem;
    }
}